.button{
	
	background-color:green;
	border:none;
	color:white;
	padding:15px 32px;
	text-decoration:none;
	display:block;
	font-size:16px;
	width:70%;
	margin:20px 20px;
	border-radius: 15px 15px 15px 15px;
	text-align:center;
}
.menu{
	
	width:400px;
	height:400px;
	margin:20px auto;
}
.container{
	
	width:60%;
	margin:0 auto;
	overflow:auto;
	
}
a.start{
	
	display:inline-block;
	color:#666;
	border:1px dotted #000;
	padding:6px 13px;
	text-decoration:none;
}
li{
	
	list-style:none;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 50px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}